body {
	padding: 0px;
	margin: 0px;
	
}

#destop {
	perspective: 1000px;
	width: 350px;
	height: 700px;

	margin: 50px 10px;
	background-color: #FFFACD;
}

/* 控制区 */

.controller {
	margin-top: 700px;
	
	
}

.up,
.down,
.left,
.right,
.confirm,
.NULL {
	width: 50px;
	margin: 5px;
	font: 20px;
	color: white;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background-color: cornflowerblue;
}

.NULL {
	background-color: #FFFACD;
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
	height: 300px;
	line-height: 300px;
	position: absolute;
	width: 300px;
	margin: 10px;
	font: 20px;
	color: white;
	text-align: center;
}


/* 控制区 */

/* 展示区 */


#content {
	position: relative;
	/* */
	transform-style: preserve-3d;
	transition: 2s;
	transform: translateX(300px);
	
	

	
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
	width: 300px;
	margin: 10px;
	font: 20px;
	color: white;
	text-align: center;

	height: 300px;
	line-height: 300px;
	position: absolute;
}


/* transform: rotateZ(-45deg) rotateY(-45deg)  rotateZ(45deg);  */

.c1 {
	background-color: aquamarine;
	transform: rotateX(90deg) translateY(0px) translateZ(150px) translateX(75px);
}


.c2 {
	background-color: blueviolet;
	transform: translateX(75px) translateZ(150px);
}

.c3 {
	background-color: aqua;
	transform: rotateX(-90deg) translateY(0px) translateZ(150px) translateX(75px);
}

.c4 {
	background-color: red;
	transform: rotateY(-90deg) translateZ(75px) translateX(0px);
}

.c5 {
	background-color: darkkhaki;
	transform: rotateX(90deg) translateY(0px) translateZ(150px) translateX(75px);
}

.c6 {
	background-color: mediumvioletred;
	transform: rotateX(-90deg) translateY(0px) translateZ(150px) translateX(75px);
}

/* 展示区 */


/* 
.up: hover ~ .middleCube{
	transform: rotateZ(-45deg) rotateY(-45deg)  rotateZ(45deg);
} */
