*{
padding: 0;	
margin: 0;
background: lemonchiffon;
}

#head
{
background: darkgrey;	
	text-align: center;
	padding: 3px;
		margin: 3px;
}

#head span
{

border-left: 2px solid gray;	
border-right: 2px solid gray;		
}

